<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <title>Catálogo de livros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Catálogo de livros</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/catalogo">Catálogo</a>
            </nav>
        </header>
        <a class="botao" href="/adicionar_livro">+ Adicionar Livro</a>

        <table>
            <tr>
                <th>Livro</th>
                <th>Autor</th>
                <th>Ano</th>
                <th>Devolver até</th>
            </tr>
            {% for livro in livros %}
            <tr>
                <td>{{ livro['nome'] }}</td>
                <td>{{ livro['autor'] }}</td>
                <td>{{ livro['ano'] }}</td>
                <td>{{ livro['devolver_ate'] }}</td>
                <td>
                    <a class="botao pequeno" href="/editar_livro/{{ loop.index0 }}"><img src="./static/img/editar.png" alt="icone de editar" width="20px"></a>
                    <a class="botao vermelho pequeno" href="/apagar_livro/{{ loop.index0 }}">Excluir</a>
                    {% if livro.emprestado %}
                        <a class="botão verde pequeno" href="/devolver_livro/{{ loop.index0 }}">Devolver</a>
                    {% else %}
                        <a class="botão verde pequeno" href="/emprestar_livro/{{ loop.index0 }}">Emprestar</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% with mensagens = get_flashed_messages() %}
              {% if mensagens %}
                <ul class="mensagens">
                  {% for msg in mensagens %}
                    <li>{{ msg }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </table>
    </div>
</body>
</html>