<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Livro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Editar livro</h1>
        <form method="POST">
            <input type="text" name="nome" value="{{ livro[1] }}" required>
            <input type="text" name="autor" value="{{ livro[2] }}" required>
            <input type="number" name="ano" value="{{ livro[3] }}" required>
            <button class="botao cheio" type="submit">Salvar</button>
            <a class="botao cancelar cheio" href="/">Cancelar</a>
        </form>
    </div>
</body>
</html>