<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca virtual</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Biblioteca virtual</h1>
        <nav class="navHome">
            <a href="/index">Home</a>
            <a href="/catalogo">Catálogo</a>
        </nav>
    </header>
    <main>
        <div class="apresentacao">
            <h2>bem-vindo à biblioteca virtual</h2>
            <p>explore milhares de livros e conteudos enriquecedores</p>
        </div>
        <div class="tipos">
            <div>
                <h3>Ficção</h3>
                <p>romances, aventuras e muito mais</p>
            </div>
            <div>
                <h3>História</h3>
                <p>Aprenda sobre o passado e suas lições!</p>
            </div>
            <div>
                <h3>Ciência</h3>
                <p>Explore o mundo das descobertas!</p>
            </div>
        </div>
    </main>
</body>
</html>